if errors != undefined
    each err in errors
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            | #{err.msg}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;

if success_msg != ''
    .alert.alert-success.alert-dismissible.fade.show(role='alert')
        | #{success_msg}
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;

if error_msg != ''
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        | #{error_msg}
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;

if crit_error_msg != ''
    .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        | #{crit_error_msg}
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;

if points_success != ''
    .toast.text-center
        .toast-header.text-success
            | Well done!
        .toast-body
            .container
                .row
                    .col
                        i.far.fa-laugh-beam.fa-10x
                .row.mt-2
                    .col
                        | #{points_success}

if points_errors != ''
    .toast.text-center
        .toast-header.text-danger
            | You had some mistakes!
        .toast-body
            .container
                .row
                    .col
                        i.far.fa-sad-cry.fa-10x
                .row.mt-2
                    .col
                        | #{points_errors}