extends layout

block navbar
    include ./partials/navbar-short

block content
    .loginShowcase
        .row.login
            img.logo(src='/img/logo.png' alt='EduEducate')
            .col-md-4.col-sm-6.m-auto
                .card.card-body
                    h1.text-center.mb-3
                        i.fas.fa-user-plus
                        |  Register
                    include partials/messages.pug
                    form(action='/user/register' method='POST')
                        .form-group
                            label(for='name') Name
                            input#name.form-control(type='name' name='name' placeholder='Enter Name' value=name)
                        .form-group
                            label(for='email') Email
                            input#email.form-control(type='email' name='email' placeholder='Enter Email' value=email)
                        .form-group
                            label(for='password') Password
                            input#password.form-control(type='password' name='password' placeholder='Create Password' value=password)
                        .form-group
                            label(for='password2') Confirm Password
                            input#password2.form-control(type='password' name='password2' placeholder='Confirm Password' value=password2)
                            input#csrf(type='hidden' name='_csrf' value=csrf)
                        button.btn.btn-secondary.btn-block(type='submit') Register
                    p.lead.mt-4 Already have An Account? 
                        a(href='/user/login') Sign in